go 1.25.0

use (
	./cmd/app
	./internal/command
	./pkg/component/app
	./pkg/component/blob
	./pkg/component/config
	./pkg/component/email
	./pkg/component/httpserver
	./pkg/component/logger
	./pkg/component/mapstructure
	./pkg/component/media
	./pkg/component/negotiation
	./pkg/component/orm
	./pkg/component/schema
	./pkg/component/security
	./pkg/component/seeder
	./pkg/component/tagparser
	./pkg/component/user
	./pkg/component/validator
	./pkg/component/zorya
	./pkg/fx/fxblob
	./pkg/fx/fxconfig
	./pkg/fx/fxcore
	./pkg/fx/fxemail
	./pkg/fx/fxhttpserver
	./pkg/fx/fxlogger
	./pkg/fx/fxmedia
	./pkg/fx/fxorm
	./pkg/fx/fxsecurity
	./pkg/fx/fxseeder
	./pkg/fx/fxuser
	./pkg/fx/fxvalidator
	./pkg/module/media
	./pkg/module/security
	./pkg/module/user
)
