go 1.25.0

use (
	./pkg/component/blob
	./pkg/component/config
	./pkg/component/httpserver
	./pkg/component/logger
	./pkg/component/mapstructure
	./pkg/component/negotiation
	./pkg/component/orm
	./pkg/component/schema
	./pkg/component/tagparser
	./pkg/component/validator
	./pkg/component/zorya
	./pkg/fx/fxblob
	./pkg/fx/fxconfig
	./pkg/fx/fxcore
	./pkg/fx/fxhttpserver
	./pkg/fx/fxlogger
	./pkg/fx/fxorm
	./pkg/fx/fxvalidator
)
